@media screen and (max-width: 768px){
  header{
    display: block;
  }  
  body{
      width: 100%;
      margin:0 auto;
      flex-wrap: wrap;
      
    }
  .mainInfo{
    display: grid;
    flex-wrap: wrap;
    width:90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding: 0;

    justify-content: center;
    align-content: stretch
    }
    .infos-main{
      width: 100%;

    }
  footer{
    display: block;
  }
  div{
    flex-wrap: wrap;
  }
  .form-box{
    flex-wrap: wrap;
    display: flex ;
  }
  .accordion-item{
    flex-wrap: wrap;
    width: 100%;
  }
  .card{
    width: 100%;
    padding: 0;
  }
  .content{
    width: 100%;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: stretch;
    padding: 0;
  }
} 

@media screen and (min-width:1024px){
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Roboto';

}
.d-none{
  display: none
}
.mainInfo{
  min-height: calc(100vh - 200px);
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  /* display: flex; */
  gap: 30px;
  padding-bottom: 4%;
}

header {
  background: linear-gradient(150deg, rgba(85, 172, 222, 0.637) 40%, rgba(219,245,241,1) 100%);  
  color: black;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header h1{
  margin-bottom: px;
}
.head{
  display: flex;
  width: 80%;
  margin: 0 auto;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.logoICR{
  width:5%;
}
nav ul {
  list-style-type: none;
  width: 100%;
  margin-top: 3%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}

nav ul li {
  width: 80%;
  position: relative;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
}

/* nav ul li:last-child {
  margin-right: 0;
} */

nav ul li a {
  font-size: 1.3rem;
  justify-content: center;
  align-items: center;
  color: black;
  text-decoration: none;
  
}

nav ul li a:hover {
  text-decoration: underline;
}
#home-container{
  width: 100%;
  display: inline-flex;
  height: 2005;
}
.content{
  width: 50%;
  display: inline;
  gap:10px;
}

.content{
  display: flex;
  width: 100%;
}
.infos-main{
  width: 50%;

}

/* .accordion-item{
  width: 50%;
} */
.accordion-body p{
  align-items: center;
  justify-content: center;
  text-align: justify;
}
.accordion-body video{
  width: 50%;
  text-align: justify;
  justify-content: center;
  align-items: center;
  margin: 2%;
  margin-left: 25%;
}
.card-body{
  padding: 5%;
  gap: 10px;
}
.card-text{
  text-align: justify;
}
.title{
  text-align: left;
}
.apoio-psicologico{
  width: 49%;
  margin-top:5%;
  gap: 30px;
  float: right;
  padding-left: 2%;
}
.card{
  margin-bottom: 10px;
  background: rgb(85,171,222);
  background: linear-gradient(120deg, rgba(85, 172, 222, 0.63) 36%, rgba(219,245,241,1) 100%);  
}
.card-body a{
  gap: 10px;
  padding: 10px;
  margin-right: 10px;
}

#info {
  display: flex;
  justify-content: space-around;
  padding: 20px;
}

.personal-info, .skills {
  flex: 1;
}

.skill-card {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}
.contactArea div h2{
  padding: 3%;
}
#contact{

  text-align: start;
}

#contact form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.form-contact{
  width: 100%;
}
#contact{
  width: 40%;
  float: right;
}
#contact form input,
#contact form textarea{
  margin: 5px 100px;
  width: 80%;
  padding: 8px;
}
#contact form button {
  width: 40%;
  border-radius: 30px;
  border: none;
  justify-content: center;
  align-items: center;
  background-color:rgba(85, 172, 222, 0.63);
  color: black;
  padding: 8px;
  margin-right: 20%;
  cursor: pointer;
}

footer {
  background-color: rgba(85, 172, 222, 0.63);
  width: 100%;
  color: white;
  text-align: center;
  padding: 10px 0;
  height: 0 auto;
}
.foot{
  width: 80%;
  height: 0 auto;
  justify-content: space-between;
  /* display: flex; */
}
.apps{
  float: right;
  width: 8%;
  margin-right: 10px;
  
}
.foot svg{
  width:25px;
  
  margin-right: 5%;
}
.CerficadoONA{
  width: 20%;
}
.colaboradoras{
  margin: 8px;
  width: 80%;
  margin-left: 10%;
  height: 0 auto;
  align-items: center;
  justify-content: center;
  align-content: center;
}
.colaboradoras a{
  margin-top: 3%;
  margin-right: 5%;
  margin-left: 5%;
  align-items: center;
  justify-content: center;
  align-content: center;
  
  text-decoration: none;
}
#portal-paciente{
  width: 45%;
  display: flex;
  margin: 0 auto;
  height: 100%;
  padding-top: 4%;
  gap: 5%;
}
#portal{
  width: 100%;
  justify-content: flex-start;
  height: 30%;
  background:  rgba(112, 84, 132);
  background: linear-gradient(130deg, rgba(112, 84, 132, 0.36) 20%, rgb(208, 243, 238) 80%);
  /* background-color: rgb(219, 245, 241); */
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 10%;
  padding-bottom: 10%;
  border-radius: 20px;
}
#portal h1{
  font-size: 1.4rem;
  margin: 0 auto;
  text-align: center;
}
#portal ul{
  width: 90%;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  margin-top: 6%; 
}
form{
  width: 100%;
  padding:30px;
  /* border: 1px solid black; */
  gap: 10px;
  padding-top: 3%;
  margin-top: 6%;
  border-radius: 60px;
}
.form-box input[type='text']{
  width: 100%;
  /* padding-top: 6%; */
  margin-top: 6%;
  padding: 20px;
  font-size: 0.9rem;
  
  text-align: center;
  height: 30px;
  border-radius: 60px;
  border: 1px solid; 
  outline: 0;
  
}
form button{
  display: inline;
  position:relative;
  margin: 0 auto;
  width: 50%;
  padding: 10px;
  margin-top: 6%;
  justify-content: center;
  border: 1px solid;
  align-items: center;
  border-radius: 60px;
  margin-left: 25%;
  color: white;
  background: rgb(6, 6, 180);;
}


#avaliation{
  width: 50%;
  float: right;
  display: flex;  
  background:  rgba(112, 84, 132);
  background: linear-gradient(330deg, rgba(112, 84, 132, 0.36) 20%, rgb(208, 243, 238) 80%);
  border-radius: 20px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10.5px);
  -webkit-backdrop-filter: blur(10.5px);
  /* border: 1px solid rgba(112, 84, 132, 0.8); */
  /* border-radius: 60px ; */
  margin-top: 4%;
  padding: 4%;
}

#avaliation h1 {
  width: 100%;
  margin: 0 auto;
  text-align: center;  
  font-size: 1.6rem;
  padding-top:2% ;
}

#avaliation p, #avaliation-box p{
  margin-top: 6%;
  margin-bottom: 1%;
  /* text-align: center;   */
  font-size: 1.2rem;  
}
#avaliation-box{
  width: 100%;
  border: none;
}
#avaliation-box button{
  width: 24%;
  height: 20%;
  gap: 10px;
  padding-top: 2%;
  justify-content: center;
  align-items: center;
  border: none;
  background: transparent;
  /* border-radius: 45px; */
} 
#avaliation-box button img{
  width:80%;
  cursor: pointer;
  border: none;
  background: transparent;
  padding: 0;
  border-radius: 100px;
  transform: transition 0.5;
}

#avaliation-box button img:hover{
  transform: scale(1.1);
}

#exame-container{
  margin-left: 5%;
  width:90%;
  padding-bottom: 3%;
  margin: 0 auto;
  align-items: center;
}
#checkbox-consultas{
  padding-top: 3%;
  padding-bottom: 3%;
}

#checkbox-consultas input[type='text'], #checkbox-consultas input[type='date']{
  width: 50%;
  padding: 6px;
  margin-left: 25%;
  margin-top: 2%;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 30px;
  border-radius: 60px;
  border: 1px solid; 
  outline: 0;
}

.imgHC{
  
  width: 100%;
  height: 60%;
  padding-top: 1%;
  margin: 0 auto;
}