@use "mixins";
$color-black: black;
$color-white: white;
$primary-color: #0d6efd;
$color-blue: rgb(85, 171, 222);
//@use "variaveis";
// @import "~bootstrap/scss/bootstrap";
* {
  @include mixins.pd-mg-default(0, 0);
  //font-family: $primary-font;
}
body {
  background: #00000027;
}
header {
  background: rgb(85, 171, 222);
  border-bottom: 1px solid darkgray;
  background: linear-gradient(
    200deg,
    rgba(85, 171, 222, 1) 15%,
    rgb(149, 223, 212) 100%
  );
  height: fit-content;
  .head {
    @include mixins.flex-config(row, space-between, center);
    @include mixins.sizings();

    .Logo {
      width: 20%;
      @include mixins.flex-config(row, center, center);
      font-weight: bolder;
      font-size: 0.8rem;

      p {
        text-transform: uppercase;
        align-items: center;
        align-content: center;
        margin-top: 0.4rem;
      }
    }
  }
  .logoICR {
    width: 75px;
  }
}
.HomeInfo {
  @include mixins.sizings();

  .content {
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 2fr;
    .title {
      h1 {
        font-size: 2rem;
      }
      h3 {
        font-size: 1rem;
      }
    }
  }
  .apoio-psicologico {
    margin: 0 auto;
    text-align: justify;
    height: fit-content;
    gap: 1rem;
    .card {
      gap: 1rem;
      @include mixins.py(1rem, 1rem);
    }
    .btns {
      @include mixins.sizings();
      justify-content: space-between;
      margin: 0 auto;
    }
    a {
      width: 48%;
      margin: 0 auto;
      justify-content: space-between;
      padding: 3px;
    }
  }
  .accordion {
    text-align: justify;
    iframe {
      @include mixins.sizings();
      display: flex;
      @include mixins.py(1rem, 1rem);
    }
  }
}
.PortalContent {
  @include mixins.py(1.5rem, 1rem);
  @include mixins.sizings();
  .mainInfo {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 1rem;
    .content {
      #portal-paciente {
        position: relative;
        background: rgb(211, 112, 223);
        background: linear-gradient(
          130deg,
          rgba(212, 112, 223, 0.815) 10%,
          rgba(245, 201, 124, 0.89) 100%
        );
        align-items: center;
        justify-content: center;
        padding: 2rem;
        border-radius: 10px;
        #portal {
          width: 100%;
          position: relative;
          align-items: center;
          justify-content: center;
          h1 {
            font-size: 1.6rem;
          }
          form {
            margin: 0 auto;
            position: relative;

            align-items: center;
            justify-content: center;
            padding: 30px;
            border-radius: 10px;
            .form-box {
              align-items: center;
              width: 100%;
              margin: 0 auto;
              padding: 12px;
              border-radius: 10px;
              justify-content: center;
              @include mixins.py(0.3rem, 0.3rem);
              input {
                width: 250px;
                border-radius: 60px;
                text-align: center;
                border: 1px solid $color-black;
                margin-bottom: 1rem;
              }
              button {
                width: 100%;
                margin: 0 auto;
                padding: 0.5rem;
                align-items: center;
                justify-content: center;
                display: inline;
                border: none;
                border-radius: 10px;
                cursor: pointer;
              }
            }
          }
        }
      }
    }
    #avaliation {
      background: rgb(211, 112, 223);
      background: linear-gradient(
        330deg,
        rgba(212, 112, 223, 0.815) 10%,
        rgba(245, 201, 124, 0.89) 100%
      );
      border-radius: 10px;
      padding: 2rem;
      #avaliation-box {
        @include mixins.py(1rem, 1rem);
        align-items: center;
        justify-content: center;
        align-self: center;
        text-align: center;
        button {
          width: 20%;
          border: none;
          gap: 1rem;
          background: transparent;
          margin: 0.5rem;
        }
        button img {
          width: 100%;
          background-color: transparent;
          border: none;
          border-radius: 50%;
        }
        #btn-avaliation {
          position: relative;
          align-items: center;
        }
      }
    }
  }
}
.Contato {
  @include mixins.sizings();
  height: 20%;
  @include mixins.py(1rem, 1rem);
  .humaniza-title {
    object-fit: cover;
    @include mixins.flex-config(row, center, center);

    height: 20%;
    img {
      width: 25%;
    }
    h1 {
      font-weight: 400;
    }
  }
  .contactArea {
    @include mixins.py(0.5rem, 0.5rem);
    display: grid;
    grid-template-columns: 35% 30% 35%;
    #contact {
      width: 95%;
      border-radius: 10px;
      height: fit-content;
      padding-bottom: 1rem;
      .form-contact {
        @include mixins.sizings(100%, 0 auto);

        padding: 10%;
        border-radius: 10px;
        background-color: rgba(85, 172, 222, 0.733);
        h2 {
          font-weight: 400;
          padding-bottom: 1rem;
        }
        form {
          display: flex;
          flex-direction: column;
          gap: 0.5rem;
          input,
          textarea,
          button {
            border: none;
            border-radius: 10px;
            text-align: center;
            @include mixins.py(0.5rem, 0.5rem);
          }
          button {
            background-color: $primary-color;
          }
        }
      }
      iframe {
        width: 100%;
        height: 100%;
        @include mixins.my(0.5rem, 0.5rem);
        height: 20%;
        border-radius: 10px;
      }
    }
    .card {
      margin-bottom: 1rem;
      padding: 0.5rem;
      width: 95%;
      .card-body {
        @include mixins.py(0.5rem, 0.5rem);
        iframe {
          width: 100%;
        }
        a {
          text-decoration: none;
          color: $color-black;
        }
        iframe {
          width: 100%;
          height: 100%;
          @include mixins.my(0.5rem, 0.5rem);
          height: 20%;
          border-radius: 10px;
        }
      }
    }
  }
}

footer {
  background: rgb(85, 171, 222);
  background: linear-gradient(
    20deg,
    rgba(85, 171, 222, 1) 15%,
    rgb(149, 223, 212) 100%
  );
  position: relative;
  height: fit-content;
  margin-top: 1rem;
  padding: 0;
  .foot {
    @include mixins.sizings();
    height: 100px;
    margin: 0 auto;
    display: grid;
    grid-template-rows: 70% 30%;
    @include mixins.py(0.3rem, 0.3rem);
    align-items: center;
    justify-content: center;
    color: $color-black;
    section {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    img {
      @include mixins.sizings(100px, 40px);
      margin-right: 1.5rem;
    }
    a {
      justify-content: space-around;
      width: 100%;
      margin: 0 auto;
      margin-right: 1rem;
      text-decoration: none;
      color: $color-black;
      gap: 1rem;
    }
    svg {
      @include mixins.div-size(30px, 40px);
      margin-right: 1rem;
      gap: 1rem;
    }
  }
}
